<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element">
          <a href="#">
            <span class="clear">
              <span class="block">
                <div class="logo">
                  <img src="../../img/Artboard-83-Copy.jpg" />
                </div>
              </span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          <img src="../../img/collapsedlogo.png" />
        </div>
      </li>

      <li ui-sref-active="active">
        <a class="icons-menu" ui-sref="index.add"
          ><img src="../../img/speedometer.png" />
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a class="icons-menu" ui-sref="index.minor"
          ><img src="../../img/speedometer.png" />
          <span class="nav-label">Customer</span></a
        >
      </li>
      <li ui-sref-active="active">
        <a class="icons-menu" ui-sref="index.form"
          ><img src="../../img/speedometer.png" />
          <span class="nav-label">Form</span></a
        >
      </li>
    </ul>
  </div>
</nav>
